<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <!-- Let's add Vue here -->
        <div id="app">
            
            <h1>Contact Form</h1>
            
            <form method="post" action="#">
                <div>
                    <label for="name">Name</label>
                    <input name="name" id="name" v-model="name" />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input name="email" id="email" v-model="email"/>
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" v-model="message"></textarea>
                </div>
            </form>

            <h2>Form Details</h2>
            
            <p><strong>Name</strong> ((name))</p>
            <p><strong>Email</strong> ((email))</p>
            <p><strong>Message</strong> ((message))</p>
            
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    name:'',
                    email: '',
                    message: '',
                },
            });
        </script>
    </body>
</html>